nav{
    background-color: black;
}
li{
    display:inline;
    color: grey;
}
#call{
    padding: 20px 50px 20px 50px;
    background-color: #3964B3;
    border-radius: 10px;
    color: white;
    margin-left: 1em;
}
#business{
    border-bottom: 1px solid grey;
    text-align: justify;
    padding: 1em 2em 2em 0;
}
#business p {
    padding-left: 58em;
}
#business h3{
    padding-left: 51em;
}
#photo{
    border-radius: 10px;
    float: left;
}
#tagline{
    border: 2px solid grey;
    background-color: #e8eaec;
    text-align: center;
    margin-top: 2em;
}
main section{
    width: 27%;
    float: left;
    margin-top: 2em;
    margin-right: 5em;
    text-align: justify;

}
footer {
    float: left;
    margin-top: 1em;

}
